html, body{
    background: #0e0e0e ;
    color: white;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(../img/shape_back_one.png), url(../img/shape_back_two.png);
    background-repeat: no-repeat;
    background-size: cover, 70%;
    background-position: 0% center, 100% center;
}
.main-left {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}
.main-left__title {
    display: flex;
    margin-bottom: 30px;
}
.main-left__logo{
    margin-right: 15px;
    width: 85px;
    height: 85px;
}
.main-left__title-inner {
    position: relative;
}
.main-left__title-text {
    font-style: italic;
    font-size: 60px;
}
.main-left__title-p {
    position: absolute;
    bottom: 0;
    left: 0;
}
.main-left__undertext {
    margin-bottom: 30px;
    line-height: 130%;
}
.main-left__button {
    max-width: 200px;
    padding: 8px;
    font-weight: 600;
    border-radius: 5px;
    color: rgb(189, 79, 189);
    background-color: white;
}
.main-right {
    display: flex;
    flex-direction: column;
}
.main-right__card {
    height: 50vh;
    position: relative;
}
.main-right__card img{
    height: 100%;
    position: relative;
}
.main-right__card-title {
    font-weight: 600;
    position: absolute;
    font-size: 36px;
    left: 20px;
    top: 20px;
}
.main-right__card-title span {
    font-weight: 300;
    font-size: 24px;
}
.main-right__card-button {
    position: absolute;
    padding: 10px 40px;
    border: solid 1px white;
    border-radius: 10px;
    left: 20px;
    bottom: 20px;
}

/*////////////////////// ПРОФСОЮЗНАЯ //////////////////////////*/

.bodyProf {
}

.headerProf {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 10%;
    background-image: url("..//img/back_index_prof.png"), linear-gradient(90deg,  #623a98, #78045b );
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    
}

.header__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__nav {
    height: 100%;
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.header__list {
    list-style-type: none;
}

.header__item {
    margin-bottom: 25px;
}
.header__item-link {
    writing-mode: vertical-lr;
    text-decoration: none;
    color: rgb(179, 179, 179);
    transition: color 0.3s;
}

.header__item-link:hover {
    color: #ffffff;
}

.header__brand {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
}

.header__logo img {
    height: 100px;
    width: 100px;
}

.header__title-main {
    position: absolute;
    top: 0;
    left: 100;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
}

.header__title-sub {
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    bottom: 0;
    left: 100;
}

.header__contacts {
    display: flex;
    flex-direction: column;
    
    align-items: baseline;
}

.header__contacts-list {
    list-style-type: none;
    margin-bottom: 60px;
}

.header__contacts-item {
    font-size: 18px;
    margin-bottom: 5px;
}


.button {
    background-color: white;
    color: #e73abb;
    border-radius: 10px;
    padding: 10px 70px;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #e73abb;
    color: white;
}

.button--purple {
    color: #e73abb;
}

.button--lightblue {
    color: #149EF2;
}

.button--blue {
    color: #0038FF;
}


.zones {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    background-image: url("../img/zone_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.zones__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.zones__fieldset {
    text-align: center;
    border-radius: 25px;
    width: 90%;
    border: 2px solid #333;
    padding: 50px;
}

.zones__legend {
    font-size: 44px;
    font-weight: bold;
    padding: 0 10px;
    color: white;
}

.zones__grid {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 0;
    gap: 30px;
}

.zones__card {
    background-color: #201e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    gap: 10px;
    border-radius: 10px;
    flex: 1;
}

.zones__card-header {
    text-align: center;
}

.zones__card-descriptor {
    font-size: 12px;
    color: #5c5c5c;
    display: block;
    margin-bottom: 5px;
}

.zones__card-title {
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-wrap: nowrap;
}

.zones__card-image img {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
}

.zones__card--standard .zones__card-image img {
    border: 2px solid #e73abb;
}

.zones__card--premium .zones__card-image img {
    border: 2px solid #149EF2;
}

.zones__card--console .zones__card-image img {
    border: 2px solid #0038FF;
}
.zones__card--camp .zones__card-image img {
    border: 2px solid #ff0000;
}

.zones__card-desc {
    font-size: 24px;
    margin: 10px 0;
}

.zones__card-btn {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}


.gallery {
    overflow: hidden;
    height: 100vh;
    padding: 0 2.5%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e;
    background-image: url('../img/back_photo.png');
    background-size: 90%;
    background-position: 50%;
}

.gallery__title {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 30px;
}
.gallery__slider{
    
}
.gallery__slides {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery__slide{
    display: flex;
    justify-content: center;
}

.gallery__slide img {
    object-fit: contain;
    filter: saturate(0.2);
    transition: filter 0.3s;
}

.gallery__slide:nth-of-type(2) img {
    width: 160%;
    filter: saturate(1);
}

.gallery__slide:first-child img,
.gallery__slide:last-child img {
    width: 100%;
}

.gallery__slide:first-child img{
    transform: translateX(-250px);
}
.gallery__slide:last-child img{
    transform: translateX(250px);
}
.gallery__dots {
    gap: 10px;
    display: flex;
    width: 125px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin: 25px auto 0;
}

.gallery__dot {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    opacity: 50%;
    transition: opacity 0.3s;
}

.gallery__dot--active {
    opacity: 100%;
}


.booking {
    overflow: hidden;
    height: 100vh;
    background-image: url('../img/form_back.png');
    padding: 0 5%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.booking__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.booking__plashka {
    min-width: 500px;
    width: 70%;
    background-color: #0e0e0e;
    padding: 20px 5% 5% 5%;
    border-radius: 25px;
}

.booking__fieldset {
    border-radius: 10px;
    border-left: none;
    padding: 5% 10% 5% 0;
    position: relative;
    border: 2px solid #333;
    border-left: none;
}

.booking__legend {
    font-size: 36px;
    padding: 0 15px 0 0;
    color: white;
}

.booking__legend--bottom {
    position: absolute;
    bottom: -16px;
    left: 0;
}

.booking__armor {
    position: absolute;
    right: -124px;
}

.booking__armor-img {
    position: relative;
}

.booking__armor-img--helmet {
    position: absolute;
    right: -60px;
    bottom: 0;
}

.booking__form {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr;
    gap: 20px;
    width: 90%;
    padding-bottom: 10px;
}

.booking__form-input,
.booking__form-textarea {
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 10px;
    border: 0px;
}

.booking__form-input::placeholder,
.booking__form-textarea::placeholder {
    color: white;
}


.booking__form-input[name="tel"] {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

.booking__form-textarea[name="wishes"] {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

.booking__form-input[name="guests"] {
    grid-column-start: 1;
    grid-column-end: 4;
}



.booking__btn {
    background-color: white;
    color: #e73abb;
    border-radius: 10px;
    padding: 10px 70px;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.booking__btn:hover {
    background-color: #e73abb;
    color: white;
}


.promo {
    padding: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e;
    background-image: url('../img/shape_back_one.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.promo__title {
    margin-bottom: 50px;
    font-size: 56px;
}

.promo__subtitle {
    font-size: 24px;
    color: #5c5c5c;
    margin-bottom: 50px;
}

.promo__grid {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
    width: 90%;
    height: 60%;
}

.promo__card {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #5a0144;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.promo__card-title {
    grid-row-start: 2;
    grid-column-start: 2;
    font-size: 24px;
    margin: 0;
}

.promo__card-link {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: left;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-left: 20px;
}

.promo__card--code {
    background-image: url('../img/ciber_back.png');
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.promo__card--tournament.promo__card--cs {
    background-image: url('../img/cs_back.png');
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}

.promo__card--tournament.promo__card--dota {
    background-image: url('../img/dota_back.jpg');
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 7;
}

.promo__card--weekdays {
    background-image: url('../img/monday_back.jfif');
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.promo__card--social {
    background-image: url('../img/vk_back.jpg');
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 7;
}

.promo__card--snacks {
    background-image: url('../img/drink_back.jfif');
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.promo__card--birthday {
    background-image: url('../img/birthday_back.png');
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}



.footer {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-image: url('../img/contact_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 5%;
}

.footer__wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer__plashka {
    display: flex;
    width: 40%;
    height: 35%;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    padding: 40px;
    background-color: rgba(14, 14, 14, 0.9);
}

.footer__title {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 36px;
}

.footer__transport {
    margin-bottom: 20px;
}

.footer__transport-item {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.footer__transport-text {
    margin: 0;
}

.footer__transport-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__transport-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.footer__transport-dot--red {
    background-color: #FF003D;
}

.footer__transport-dot--orange {
    background-color: #ff8800;
}

.footer__transport-time {
    color: #5c5c5c;
    font-size: 14px;
}

.footer__contacts {
    margin-bottom: 20px;
}

.footer__contact {
    margin-bottom: 10px;
}

.footer__contact-value {
    color: #5c5c5c;
}

.footer__social {
    margin-left: 10px;
}

.footer__social img {
    width: 24px;
    height: 24px;
}

.footer__cooperation {
    margin-bottom: 20px;
}

.footer__cooperation-text {
    margin-bottom: 10px;
}

.footer__cooperation-value {
    color: #5c5c5c;
}

.footer__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__btn {
    margin-right: 25px;
}

.footer__social-btn img {
    height: 60px;
}

.footer__map {
    height: 450px;
    width: 100%;
}

.footer__map iframe {
    height: 100%;
    border-radius: 25px;
    width: 100%;
}

.headerBaum{
    background-image: url("../img/back_index_baum.png"), linear-gradient(90deg,  #6ab7e7, #495b9b );
}
.buttonBaum{
    color: #6ab7e7;
}
.buttonBaum:hover{
    background: #6ab7e7;
}
.promo__cardBaum{
    background-color: #495b9b;
}


@media (max-width: 1100px) {
    .zones__grid {
        flex-direction: column;
    }
    
    .promo__grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .footer__top {
        flex-direction: column;
    }
    .footer__actions {
        margin-right: 0;
        flex-direction: column;
    }
    .footer__btn {
        margin-right: 0;
    }
    .booking__plashka{
        min-width: 90%;
    }
}